{:kotoba.app/id "cloud.itonami.isic-4690", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibbnzjoior6ri2ezcos6a6sh3rkgvbvs7tafumn3ogciycwh3depm", :kotoba.app/embed-url "ipfs://bafkreibbnzjoior6ri2ezcos6a6sh3rkgvbvs7tafumn3ogciycwh3depm", :published {:archive "https://kotobase.net/ipfs/bafkreibbnzjoior6ri2ezcos6a6sh3rkgvbvs7tafumn3ogciycwh3depm", :size 73035, :put-status 201, :get-status 200, :at "2026-08-15T13:52:21.622Z"}}
